@media screen and (max-width: 360px) {
    header {
        transform: scale(0.9);
    }
}

@media screen and (min-width: 768px) {
    body {
        padding: 40px 40px 72px 39px;
    }

    header {
        width: 100%;
    }
    
    #bussiness-solution {
        min-width: 550px;
        min-height: 452px;
        width: 100%;
        height: 100%;
        justify-content: center;
        position: relative;
    }

    #curved-line1 {
        transform: scale(1.4);
        left: 270px;
    }

    #bussiness-solution h1 {
        font-size: 56px;
        width: 553px;
    }

    #bussiness-solution-description {
        width: 350px;
    }

    #bussiness-solution::after {
        content: '';
        position: absolute;
        background: url('./assets/images/image-hero-portrait.webp') no-repeat center center;
        height: 100%;
        width: 281px;
        z-index: 99;
        top: 0;
        z-index: -1;
        border-radius: 15px;
        right: 0;
    }

    main {
        width: 100%;
    }

    #stats {
        width: 100%;
        height: 100%;
        gap: 30px;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 50px 30px 50px;
    }

    #testimonials {
        width: 99.9%;
        height: 100%;
    }

    #testimonials::after {
        width: 250px;
    }

    #mobile-image {
        display: none;
    }

    #footer-container {
        width: 100%;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
        padding: 0 40px;
    }

    #footer-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    footer p {
        font-size: 16px;
    }

    #social-icons {
        width: 120px;
    }

}

@media screen and (min-width: 1440px) {

    body {
        padding: 40px 165.5px 0 165.5px;
    }

    main {
        padding: 0 126.5px;
    }

    #bussiness-solution {
        transform: scale(1.32);
        position: relative;
        left: 15%;
        top: 87px;
    }

    #bussiness-solution::after {
        right: 40%;
    }

    #stats {
        flex-direction: column;
        width: 187px;
        height: 400px;
        position: absolute;
        top: -420px;
        right: 25px;
    }

    #testimonials {
        width: 1109px;
        height: 540px;
        padding: 88px 125px 88px 125px;
        top: 300px;
        flex-direction: row;
        justify-content: flex-end;
    }

    #testimonials-container {
        align-items: flex-start;
        width: 350px;
    }

    #cmo-name {
        display: inline;
        text-align: left;
    }

    #testimonials-text{
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    #testimonials::before {
        background: url('./assets/images/image-jeremy-large.png') no-repeat;
        top: -27px;
        left: 121.49px;
        transform: scale(1.1);
    }
    
    #testimonials::after {
        width: 350px;
        height: 60%;
        border-radius: 50%;
        top: 221px;
        left: 107px;
    }
    

    #footer-container {
        padding: 0 165.5px;
    }
}

@media screen and (min-width: 2000px) {

    body {
        padding: 3% 20% 0 20%;
    }
}

